<div style="display: flex; justify-content: space-between">
{% set medias = get_last_five_media() %}
  {% dump(medias) %}
  <ul style="display: flex;width: 50%;justify-content: space-around;list-style: none;">
    {% for media in medias%}
      <li>{{ media.title }}<li>
    {% endfor %}
  </ul>






  {% if app.user %}
    {# je suis connecté #}
    <a href="{{ path('app_logout') }}">Se déconnecté</a>

    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('app_admin') }}">Administration</a>
    {% endif %}

    {% else %}

    {# je suis déconnecté #}
    <a href="{{ path('app_login') }}">Se connecté</a>
    <a href="{{ path('app_register') }}">S'enregistrer</a>
  
  
  {% endif %}
</div>